body {
  font-family: sans-serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  padding: 1em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-container {
  width: 100%;
  border: solid 1px #000;
  padding: 1em 0em;
  border-radius: 4px;
  background-color: #bae9ff;
}

.btn {
  padding: 0px 10px;
  border: solid 1px #9a9a9a;
  margin: 0px 10px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #fff;
}

.btn.btn-reset {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.btn:hover {
  background-color: #f1f1f1;
}

.count {
  text-align: center;
  margin: 10px 0px;
}
